.container{
    border: 1px solid grey;
    display:flex;
    flex-wrap:wrap;
    overflow:hidden;
    justify-content:center;
    align-content:center;
    width:500px;
    height:500px;
}

.box{
    width:31px;
    height:31px;
    border:2px solid grey;
}

body{
    padding:64px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

button, input{
    margin:6px;
}

.hover:hover{
    background-color:black;
}