.container{
    border: 1px solid grey;
    display:flex;
    flex-wrap:wrap;
    overflow:hidden;
    align-content:center;
    justify-content:center;
    width:500px;
    height:500px;
    padding:0px;
    gap:0px
}


body{
    padding:64px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

button, input{
    margin:6px;
}

